#corps_site
{
    font-family: 'Raleway', 'Sans-Serif';
    width: auto;
    margin: -16px 0px;
    display: flex;
    flex-direction: column;
}

a
{
    text-decoration: none;
    color: black;
}

h2
{
    font-size: 22px;
    margin: 0px;
    font-weight: bolder;
}

h3
{
    font-size: 18px;
    font-weight: bold;
}

img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section
{
    max-width: 1400px;
    margin: 0px 50px 0px 50px;
}

p strong
{
    font-weight: bold;
}

/*Style header*/

header
{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: -16px 50px 0px 50px;
}

#logo
{
    width: 200px;
    justify-self: left;
    height: auto;
    padding-top: 40px;
}

nav
{
    display: flex;
    justify-content: flex-end;
    flex: 3;
}

nav ul
{
    display: flex;
    justify-content:space-around;
    list-style-type: none;
    flex-direction: row;
    width: 400px;
}

nav li
{
    display: flex;
    padding-top: 40px;
}

#nav_hebergement
{
    border-top: solid 3px #0065FC;
    margin-top: 8px;
    position: relative;
    left: 1em;
}

#nav_activite
{
    margin-top: 8px;
    position:relative;
    right: 1em;
    border-top: solid 3px white;
}

#couleur_hebergement
{
    color: #0065FC;
}

#inscription
{
    width: 5%;
    padding-top: 45px;
    font-weight: bold;
    color: #0065FC;
    border-top: solid 3px white;
    margin-top: 20px;
}

/* Style Première section, recherche*/

#Recherche
{
    display: flex;
    flex-direction: column;
}

article p
{
    margin: 5px 0px 12px 0px;
}

form div
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#iconegps
{
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#barre_recherche
{
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: bolder;
    height: 36px;
    padding-left: 25px;
    border: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
}

#lancement_recherche
{
    margin-left: 0px;;
    font-size: 18px;
    font-weight: bold;
    color: white;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
}

#bloc_filtre
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#filtre
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    font-weight: bolder;
}

#titre_filtre
{
    width: 5%;
    margin: 18px 0px;
    position: relative;
    top: 1em;
}

#filtre a:hover
{
    transform: scale(1.15);
}

.lien_filtre
{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 46px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    margin-left: 40px;
    padding-right: 30px;
}

#filtre1, #filtre2, #filtre3, #filtre4
{
    color: #0065FC;
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    position: relative;
    left: -12px;
    justify-content: center;
}

#info
{
    display: flex;
    align-items: center;
}
#infoicone
{
    color: #0065FC;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    border: solid 2px #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/*Hébergement*/

#Hebergement
{
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 63%;
    padding: 25px 0px 0px 20px;
    height: 640px;
    width: 850px;
    margin: 15px 0px;
}

#Hebergement div
{
    width: 244px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    justify-content: space-evenly;
    padding-bottom: 6px;
    box-shadow: 0px 9px 30px -15px rgb(77, 76, 76)
}

article img
{
    border-radius: 20px 20px 0px 0px;
    border: solid white 5px;
    object-fit: cover;
    max-width: 235px;
    max-height: 115px;
}

article h4
{
    margin: 3px 8px;
}

#Hebergement p
{
    margin:3px 8px;
}

#Hebergement i
{
    margin: 3px 0px 0px 1px;
    color: #0065FC;
    position: relative;
    left: 10px;
}

#Hebergement span i
{
    color: #F2F2F2;
}

/*Grid*/

.conteneur {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(15px, auto);
  }

.one
{
    grid-column: 1 / 3;
    grid-row: 1;
}

.two
{
    grid-column: 1/3;
    grid-row: 2;
}

.three
{
    grid-column: 2/3;
    grid-row: 2;
}

.four
{
    grid-column: 3/3;
    grid-row: 2;
}

.five
{
    grid-column: 1/3;
    grid-row: 3;
}

.six
{
    grid-column: 2/3;
    grid-row: 3;
}

.seven
{
    grid-column: 3/3;
    grid-row: 3;
}

.eight
{
    grid-column: 1/3;
    grid-row: 4;
    font-weight: bolder;
}

/*Populaire*/

#logement
{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0px 50px;
}

#Populaire
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 25px;
    justify-content: space-evenly;
    padding-bottom: 6px;
    width: 100%;
    height: 640px;
    padding: 25px 0px 0px 20px;
    margin:15px 15px;
}

.logement_populaire
{
    display: flex;
    box-shadow: 0px 9px 30px -15px rgb(77, 76, 76);
    width: 370px;
    border-radius: 20px;
}

#titre_populaire
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    background: #F2F2F2;
    position: relative;
    bottom: 25px;
}

#icone_populaire
{
    background:#F2F2F2;
    position: relative;
    left: 24px;
}

#Populaire img
{
    width: 125px;
    height: 160px;
    border-radius: 20px 0px 0px 20px;
    border: solid white 5px;
}

#Populaire a
{
    display: flex;
    width: 370px;
}

#Populaire a i
{
    color: #0065FC;
}

#Populaire span i
{
    color: #F2F2F2;
}

.populaire_legende
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 160px;
    width: 370px;
    background: white;
    border-radius: 0px 20px 20px 0px;
    padding: 5px;
}

.populaire_legende div
{
    display: flex;
    flex-direction: row;
}

/*Activité*/

#bloc_activite
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    max-width: 1400px;
    margin: 0px 30px 0px 30px;
}

#Activite
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    position:relative;
    left: 32px;
}

#titre_activite
{
    padding-left:25px;
}

#Activite figure
{
    width: 310px;
    box-shadow: 0px 9px 30px -15px rgb(77, 76, 76);
    border-radius: 25px;
    margin: 12px 31px;
}

figcaption
{
    border-radius: 0px 0px 25px 25px;
    height: 60px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    margin-left: 19px;
}

.bloc_secondaire
{
    display:flex;
    flex-direction: column;
}

figure img
{
    border-radius: 25px 25px 0px 0px;
    width:310px;
}

.grand
{
    height: 385px;
}

.moyen
{
    height: 162px;
}

.petit
{
    height: 122px;
}

/*Footer*/

footer
{
    display: flex;
    width:auto;
    justify-content: space-between;
    background-color: #F2F2F2;
    height: 215px;
    padding-top: 35px;
    margin: 40px 0px 0px 0px;
}

footer div
{
    margin-right: 200px;
    margin-left: 50px;
}

/* Media queries smartphone*/
@media (max-width: 760px)

{
    body
    {
        margin: 0px;
    }

    #corps_site
    {
        width: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding:0px;
    }

    header
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        margin: 0px;
    }

    #logo
    {
        width: 6em;
        height: auto;
        padding-top: 25px;
        object-fit: contain;
        margin-left: 25px;
    }

    .menu :nth-child(2)
    {
        order: 3;
    }

    #inscription
    {
        width:auto;
        padding-top: 25px;
        margin-right: 25px;
    }

    nav
    {
        width:100%;
        display: flex;
        flex-direction: row;
        margin: 0px;
        width:100%;
        padding:0px;

    }

    nav ul
    {
        width:100%;
        margin:0px;
        padding:0px;
        
    }
    #nav_hebergement
    {
        width: 50%;
        border-top: unset;
        border-bottom: 3px solid #0065FC;
        padding: 10px 0px 10px 0px;
        position: unset;
        justify-content: center;
    }

    #nav_activite
    {
        width: 50%;
        border-top: unset;
        border-bottom: 3px solid #F2F2F2;
        padding: 10px 0px 10px 0px;
        position: unset;
        justify-content: center;
    }

    main
    {
        width:auto;
    }

    #Recherche
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 90%;
        margin: auto;
        margin-top: 15px;
    }

    #iconegps
    {
        width: 10%;
        height: 40px;
    }

    #barre_recherche
    {
        width:60%;
        padding-left: unset;
        text-align: center;
    }

    #lancement_recherche
    {
        width: 40%;
    }

    #filtre
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0px;
        position:unset;
    }

    .lien_filtre
    {
        margin: 2px 10px 2px 2px;
        padding-right: 15px;
    }

    #logement
    {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        justify-content: flex-start;
        margin: auto;
    }

    #Populaire
    {
        height: auto;
        padding: 45px 0px 30px 0px;
        width: 100%;
        height:auto;
        margin:auto;
        border-radius: unset;
    }

    #titre_populaire
    {
        width:auto;
        margin:0px 30px 0px 25px;
        display: flex;
        padding-right: 15px;
    }

    .logement_populaire
    {
        width: 90%;
        height: auto;
        margin:auto;
        margin-bottom: 15px;
    }

    .populaire_legende
    {
        width:60%;
        justify-content: unset;
    }

    .populaire_legende h4
    {
        margin: 5px;
    }

    .populaire_legende p
    {
        margin: 0px;
        margin-bottom: 75px;
    }

    #Populaire img
    {
        width: 40%;
    }

    #Hebergement
    {
        height: auto;
        width: 100%;
        margin:0px;
        padding:unset;
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    #Hebergement div
    {
        width:90%;
        height:auto;
        margin:auto;
        margin-top: 15px;
    }

    #Hebergement p
    {
        margin: 25px 0px 20px 20px;
    }

    #Hebergement h2
    {
        margin:25px 0px 10px 20px;
    }

    #Hebergement img
    {
        width:97%;
        max-width: unset;
        object-fit: cover;
    }

    #bloc_activite
    {
        width: auto;
        margin: auto;
        max-width:unset;
    }

    #titre_activite
    {
        margin-left:30px;
    }

    #Activite
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position:unset;
        width: 90%;
    }

    #Activite figure
    {
        width:100%;
        margin: 16px 20px;
    }

    figure img
    {
        width:100%;
    }

    .grand
    {
        height: 160px;
    }

    .moyen
    {
        height: 160px;
    }

    .petit
    {
        height: 160px;
    }
    footer
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
        height: 500px;
    }

    footer div
    {
        margin: 0px;
        padding:0px 0px 25px 25px;
    }
}


/* Media queries tablette*/
@media all and (min-width: 761px) and (max-width: 1024px)
{
    #corps_site
    {
        width: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding:0px;
    }

    header
    {
        
        justify-content:space-around;
    }

    #logement
    {
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content:center;
        margin: auto;
        width: auto;
    }

    #Hebergement
    {
        width: 95%;
        overflow: hidden;
        margin-right: 0px;
    }

    #Hebergement div
    {
        margin-right:1em;
        width: 12em;
        height: fit-content;
    }

    article img
    {
        width:95%;
    }

    #Populaire
    {
        height: auto;
        padding: 45px 0px 30px 0px;
        width: 60%;
        height:auto;
        margin:auto;
        justify-content: space-around;
        align-content: center;
    }

    .logement_populaire
    {
        margin-bottom: 1em;
    }

    #bloc_activite
    {
        width: 90%;
        margin: auto;
        margin-top:1em;
        max-width:unset;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: row;
    }

    #titre_activite
    {
        width: 100%;
    }

    #Activite
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position:unset;
        width: 100%;
    }

    .bloc_primaire
    {
        width:100%;
    }

    .bloc_secondaire
    {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        width:100%;
    }

    #Activite .bloc_secondaire figure
    {
        width:98%;
        margin: 16px 10px;
    }

    #Activite .bloc_primaire figure
    {
        width:100%;
        margin: 16px 10px;
    }

    figure img
    {
        width:100%;
    }

    .grand
    {
        height: 160px;
    }

    .moyen
    {
        height: 160px;
    }

    .petit
    {
        height: 160px;
    }

    footer
    {
        width:auto;
    }

    footer div
    {
        margin-right: 50px;
        margin-left:50px;
    }
}